
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  

body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #f0ddca, #ffffff);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
  

header {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    animation: slideDown 1s ease;
}
  
@keyframes slideDown {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}

.searchContainer {
    
    text-align: center;
    margin: 2rem auto;
    animation: fadeIn 1s ease;
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
}
input[type="text"] {
    padding: 10px;
    width: 280px;
    border: 2px solid #4a90e2;
    border-radius: 6px;
    transition: 0.3s ease;
    margin: 10px;
    outline: none;
    padding: 10px 20px;
}

input[type="text"]:focus {
    border-color: #2c6fc9;
    box-shadow: 0 0 5px #2c6fc9;
}

button {
    padding: 10px 20px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #6493d6;
    transform: scale(1.05);
}

#displayContent {
    max-width: 700px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.innerDivStyle {
    background-color: #eaeef4;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(178, 181, 194, 0.1);
    animation: fadeCard 0.5s ease;
    line-height: 1.8;
}

@keyframes fadeCard {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}
  
.innerDivStyle img {
    max-width: 100px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #58739d;
}

footer {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}
