
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  

body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
  

header {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    animation: slideDown 1s ease;
}
  
@keyframes slideDown {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

